{% extends "layout.html.twig" %}

{% block content %}

    <main class="container index-lang">

        <div class="row">
            {% set title = false %}
            {% for ligne in codes %}
                {% if title == false %}
                    {% set title = true %}
                    <h1 class="col-12 text-center">
                        {% if ligne.language_name == 'html' %}
                            < Codes > {{ ligne.language_name|upper }} < / Codes >
                        {% elseif ligne.language_name == 'css' %}
                            lang: {{ ligne.language_name|upper }}
                        {% elseif ligne.language_name == 'javascript' %}
                            var lang = {{ ligne.language_name|upper }}
                        {% elseif ligne.language_name == 'php' %}
                            $lang = {{ ligne.language_name|upper }}
                        {% elseif ligne.language_name == 'mysql' %}
                            $req = "{{ ligne.language_name|upper }}"
                        {% endif %}
                    </h1>
                {% endif %}
                <div class="code col-md-4 mh-100">
                    <div>
                        <h3><a href="{{ path('article', {'id': ligne.id_article}) }}">{{ ligne.title }}</a></h3>
                        <p>Posté il y a {{ ligne.release_date }} par {{ ligne.pseudo }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

    </main>

{% endblock %}
