{% extends "layout.html.twig" %}

{% block content %}

    <main class="container article">
        <div class="row">
            <div class="col-12">
                <form action="{{ path('code_modifie', {'id': article.id_article}) }}" method="POST">
                    <div class="row">
                        <div class="col-12">
                            <input type="text" name="title" id="title" value="{{ article.title }}">
                        </div>
                        <div class="col-12">
                            <input type="text" name="description" id="description" value="{{ article.description }}">
                        </div>

                        <input type="hidden" name="nb_ajout_content" value="{{ article.nb_content }}">

                        {% for ligne in champs %}
                            <div class="col-12">
                                <textarea name="content[{{ ligne.id }}]">{{ ligne.content|replace({"&lt;": '<', "&gt;": '>','&amp;quot;': '"', "&amp;": '&', '&quot;': '"', '&agrave;': 'à', '&eacute;': 'é', '&egrave;': 'è', '&ecirc;': 'ê'}) }}</textarea>
                            </div>
                        {% endfor %}
                        <button>Modifier</button>
                    </div>
                </form>
            </div>
        </div>

    </main>

{% endblock %}