{% extends "layout.html.twig" %}

{% block content %}

    <main class="container profil">
        <section class="row">
            <div class="col-12 userContent">
                    <h1><span class="bienvenue"> Bienvenue </span> {{ user.pseudo }}</h1>
            </div> 

        </section>
        
        <section class="row ">   
            
            <div class="col-12 perso">       

                    

                    <h2> >Informations utilisateur _</h2>

                        <p>Nom : <span>{{ user.firstname }}</span></p>
                        <p>Prénom : <span>{{ user.lastname }}</span></p>
                        <p>Mail : <span>{{ user.email }}</span></p>
                        <p>Pays : <span>{{ user.country }}</span></p>
                        <p>Ville : <span>{{ user.city }}</span></p>
                        <p>Date d'inscription : <span>{{ user.registration|date('d/m/Y') }}</span></p>
                        
            </div>

         </section>
        
         <section class="row mt-4">
       
            <div class="col-12 text-center">


              
                
                <p><a href="" class="linkBtn"> Changer adresse mail</a></p>


                <p><a href="{{ path('modif_profil') }}" class="linkBtn"> Changer profil</a></p>
                
            </div>

          

        </section>

    </main>

{% endblock %}